<ul id="firstFriendList" class="ulList">
{{#each leftFriend}}

        <li class="friend" draggable="true">
            <img class="photo" draggable="false" src="{{photo_100}}">
            <p class="name" draggable="false">{{first_name}} {{last_name}}</p>
            <span class="icon-plus" draggable="false" data-id="{{id}}"></span>
        </li>

{{/each}}
</ul>